<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/style/home.css">


 {{!-- ------------------------ CSS ------------------------------ --}}




    <style>
        .opcoes{
            display: flex;
            flex-direction: column;
            gap: 10px;
            height: 90vh;
            background-color: #347299;
            width: 300px;
            height: 400px;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
        }

        body{
            background: #5b9ec7;
            
        }

        .nav-bar{
            display: flex;
            background-color:  #FFB7C5;
            width: 100%;
            height: 70px;
            padding: 0px;
            justify-content: center;
            align-items: center;
        }

        i{
            color: #f7f3f1;
        }

        .hero{
            display: flex;
            width: 100%;
            height: 90vh;
            padding: 5px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;

        }

    </style>
</head>





{{!-- ------------------------ HTML ------------------------------ --}}






<body>
    <header>
        <nav class="nav-bar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="fa-solid fa-ice-cream">Buce+</i>
            </a>
        </div>
        </nav>
    </header>

    <section class="hero">
        <h1>Home</h1>

        <div class="opcoes">
            <a class="btn btn-danger" href="/sorvete" style="width: 100px;">Sorvetes</a>
            <a class="btn btn-danger" href="/acai" style="width: 100px;">Açai</a>
            <a class="btn btn-danger" href="/picole" style="width: 100px;">Picolé</a>
            <a class="btn btn-danger" href="/milkshake" style="width: 100px;">Milkshake</a>
            <a class="btn btn-danger" href="/doce" style="width: 100px;">Doce</a>
            <a class="btn btn-danger" href="/funcionario" style="width: 100px;">Funcionário</a>
        </div>
    </section>

</body>
</html>
